h1 {
	color:sienna;
	margin-top: 0;
    text-align: center;
}
main {
    padding: 1em 2em;
}

body {
    background-image: url("/Earth-map.jpg");
}

label {
    width: 16em;
}
input {
    margin-left: 1em;
}

.item1 {grid-area: header;}
.item2 {grid-area: main;}
.item3 {grid-area: right;}
.item4 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main main right'
    'footer footer footer footer';
    grid-gap: 1px;
    background-color:black;
    padding: 10px;
}
.grid-container > div {
    background-color: khaki;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
